<% name =|| "" %>
<% modifiers =|| "" %>
<% deactivate =|| "all" %>

<button class="toggle toggle--<% name %> <% modifiers %>" data-activate="<% name %>" data-deactivate="<% deactivate %>" role="button" aria-pressed="false" name="Toggle <% name %>" type="button"></button>
